---
import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar.astro";
import { AppConfig } from "@/utils/AppConfig";

export interface Props {
  head: {
    title: string;
    description: string;
  };
}

const {
  head: { title, description },
} = Astro.props as Props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content={AppConfig.author} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content="blog url" />
    <meta property="og:image" content="blog view img" />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🛠️</text></svg>"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <script>
      if (
        localStorage.getItem("dark-mode") === "true" ||
        (!("dark-mode" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        localStorage.setItem("dark-mode", "true");
        document.querySelector("html")?.classList.add("dark");
      } else {
        localStorage.setItem("dark-mode", "false");
        document.querySelector("html")?.classList.remove("dark");
      }
    </script>
  </head>
  <body class="bg-[#c4b8d4] dark:bg-[#5e5070] m-0 p-0">
    <main
      class="md:w-[70%] sm:w-full m-auto bg-[#c4b8d4] dark:bg-[#5e5070] text-[#2a2235] dark:text-[#e8e0f0] flex min-h-screen flex-col font-mono tracking-widest leading-10"
    >
      <Navbar />
      <div class="flex-1">
        <slot />
      </div>
      <Footer />
    </main>
  </body>
</html>
<style is:global>
  :root {
    hr {
      border: none;
      border-top: 1px solid rgba(94, 80, 112, 0.3);
    }

    .content pre {
      background-color: #cdc8ff0d;
      border-radius: 0.5rem;
      font-size: 0.9rem;
    }

    .content code {
      overflow-x: auto;
    }

    .content [data-rehype-pretty-code-figure] code {
      padding: 0 !important;
    }
    .content pre > code span[data-line] {
      border-left: 0.5rem solid transparent;
      padding: 0 0.5rem;
    }

    .content pre > code span:first-of-type {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      padding-top: 0.5rem;
    }
    .content pre > code span:last-of-type {
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      padding-bottom: 0.5rem;
    }

    .content pre > code .highlighted {
      border-left: 0.5rem solid rgba(209, 213, 219, 0.6) !important;
      background-color: rgba(229, 231, 235, 0.05);
    }
    /** 
     *  data-line-numbers will be enabled on markdown  
     *  with `showLineNumbers` meta string on it
     */
    .content pre > code[data-line-numbers] {
      counter-reset: line;
    }
    .content pre > code[data-line-numbers] > span[data-line]::before {
      counter-increment: line;
      content: counter(line);
      display: inline-block;
      margin-right: 2rem;
      width: 1rem;
      text-align: left;
      color: #7ca2dfad;
    }
    .content pre > code > span[data-line]::before {
      content: "";
      display: inline-block;
      width: 1rem;
      text-align: right;
    }

    /** 
     *  we'll need to adjust the space required 
     *  the number depending on the number of digits 
     */
    .content
      pre
      > code[data-line-numbers-max-digits="2"]
      > span[data-line]::before {
      width: 2rem;
    }

    .content code[data-line-numbers-max-digits="3"] > span[data-line]::before {
      width: 3rem;
    }
  }
</style>
